<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990306001889-kj0fp6grm9jsd1d06kpfvfpqo3otpnfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990306001889-kj0fp6grm9jsd1d06kpfvfpqo3otpnfp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>990306001889-jibm8e3renrd9oghiotjpcmprqj2k9et.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuH-9MiF0TmBKGU6UOkpNw4inBhxg6e1E</string>
	<key>GCM_SENDER_ID</key>
	<string>990306001889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testApp</string>
	<key>PROJECT_ID</key>
	<string>test-app-7ec78</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-7ec78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990306001889:ios:ac919a6baf8dcf87c3a8a0</string>
</dict>
</plist>